---
import { getCollection } from "astro:content";
import { isAfter } from "date-fns";
import Author from "../../components/author.astro";
import DateLocale from "../../components/DateLocale";
import Header from "../../components/header.astro";
import Logo from "../../components/logo.astro";
import Layout from "../../layouts/Layout.astro";

// 1. Generate a new path for every collection entry
const posts = await getCollection("blog");
const orderedPosts = posts.sort((a, b) =>
  isAfter(a.data.date, b.data.date) ? -1 : 1
);
---

<Layout title="blog">
  <main class="max-w-6xl mx-auto bg-base-100 relative min-h-screen">
    <Logo />
    <Header />
    <h1 class="text-2xl lg:text-5xl text-center text-aexdo font-bold my-8">
      Blog
    </h1>
    <div class="py-24 px-8 space-y-4 lg:px-16">
      {
        orderedPosts.map((post) => (
          <div class="grid lg:grid-cols-2 border border-aexdo rounded-lg overflow-hidden">
            <div
              class="w-full h-full aspect-video lg:aspect-auto bg-cover origin-center"
              style={`background-image: url(${post.data.image})`}
            />
            <div class="p-8 space-y-6">
              <h2 class="text-aexdo font-bold text-2xl">{post.data.title}</h2>
              <p class="text-xl">{post.data.brief}</p>
              <div class="flex justify-between items-center text-sm flex-wrap">
                <div class="flex items-center">
                  <p>
                    Publié le <DateLocale client:only date={post.data.date} />
                  </p>
                  <Author author={post.data.author} />
                </div>
                <a
                  href={`/blog/${post.slug}`}
                  class="bg-aexdo text-aexdo-content font-semibold text-center px-4 py-2 rounded-full place-self-center hover:bg-aexdo/80"
                >
                  Lire le post
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
