---
import Header from "../components/header.astro";
import Logo from "../components/logo.astro";
import Layout from "../layouts/Layout.astro";

const FOUNDERS = [
  {
    nom: "Dominique Poux",
    fonction: "Président",
    email: "dominique@aexdo.com",
    photo: "/team/dominique.png",
    description:
      "Dominique POUX, spécialiste en aménagement et environnement, conseille les promoteurs et les constructeurs pour la gestion de leurs projets avec une problématique de terres polluées.",
  },
  {
    nom: "Trino Beltran",
    fonction: "Directeur général",
    email: "trino@aexdo.com",
    photo: "/team/trino.png",
    description:
      "Trino Beltran, expert en management du changement de la transformation digitale des métiers de la construction et en innovation développe nos partenariats avec nos clients et autres start-ups pour vous proposer de nouveaux outils innovants",
  },
  {
    nom: "William Schlegel",
    fonction: "Directeur technique",
    email: "william@aexdo.com",
    photo: "/team/william.png",
    description:
      "William SCHLEGEL est un Start-uppeur récidiviste et notre CTO. Il garantit le bon fonctionnement de nos outils et veille à l’utilisation des meilleurs outils et architectures informatiques",
  },
  {
    nom: "Bernard Bongras",
    fonction: "Commercial/marketing",
    email: "bernard@aexdo.com",
    photo: "/team/bernard.png",
    description:
      "Bernard Bongras, responsable commercial depuis de nombreuses années dans les déchets et les sols pollués sera votre interlocuteur privilégié dans vos projets",
  },
];
---

<Layout title="Fondateurs">
  <main class="max-w-6xl mx-auto bg-base-100 relative min-h-screen">
    <Logo />
    <Header />
    <h1 class="text-2xl lg:text-5xl text-center text-aexdo font-bold my-8">
      Les fondateurs
    </h1>
    <div class="grid md:grid-cols-2 gap-8 p-8">
      {
        FOUNDERS.map((fnd) => (
          <figure class="border border-aexdo p-8 rounded-lg shadow space-y-8">
            <img
              class="w-36 mx-auto"
              src={fnd.photo}
              alt={`Photo de profile de ${fnd.nom}`}
              width={200}
              height={200}
            />
            <figcaption class="text-center font-medium">
              <p class="text-cyan-700">{fnd.nom}</p>
              <p class="text-aexdo">{fnd.fonction}</p>
              <p class="text-gray-700">
                <a
                  href={`mailto:${fnd.email}`}
                  target="_blank"
                  rel="noreferrer"
                >
                  {fnd.email}
                </a>
              </p>
            </figcaption>
            <p>{fnd.description}</p>
          </figure>
        ))
      }
    </div>
  </main>
</Layout>
