---
import { getImage } from "astro:assets";
import { getEntryBySlug } from "astro:content";

import image from "../assets/papers.jpg";

const bgImage = await getImage({
  src: image,
  format: "jpeg",
  height: 800,
});

const caseStudy = await getEntryBySlug("usecases", "ect");
---

<section
  class="relative p-12 lg:p-24 lg:pl-[50%]"
  style={`background-image: linear-gradient(90deg, #eee, #eee 30%, #eb6547 30%, #eb6547 70%);`}
>
  <div
    class="absolute hidden lg:block top-12 bottom-12 left-0 w-2/3"
    style={`background: url(${bgImage.src}) center no-repeat`}
  >
  </div>
  <div class="relative bg-base-100 p-12 space-y-8 shadow z-10">
    <img src={caseStudy.data.logo} />
    <h3 class="text-2xl font-bold mb-4">{caseStudy.data.title}</h3>
    <p>{caseStudy.data.brief}</p>
    <div class="text-right">
      <a
        href={`/usecase/${caseStudy.slug}`}
        class="bg-aexdo text-aexdo-content font-semibold text-center px-8 py-4 rounded-full"
        >En savoir plus</a
      >
    </div>
  </div>
  <!-- <h3
      class="absolute text-aexdo-content right-12 bottom-56 m-0 text-2xl lg:text-6xl -rotate-90 origin-right"
    >
      Etude de cas
    </h3> -->
</section>
